extends layout

block content
  #main
    h2.
      Welcome to Tell Tale
    p.
      Looking for a story?
    if (!user)
      a(href="/login") Login
      br
      a(href="/register") Register
    if (user)
      p You are currently logged in as #{user.username}
      a(href="/logout") Logout
