doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Special+Elite', rel='stylesheet', type='text/css')
  body
    #loginheader
      if (!user)
        ul
          li
            a(href="/login") Login
          li
            a(href="/register") Register
      if (user)
        ul
          li.
            You are currently logged in as #{user.username}
          li
            a(href="/logout") Logout
    h1.
      Tell Tale
    #menubar
      ul
        a(href='/stories')
          li.
            Home
        a(href='/stories/new')
          li.
            Add a story
        a(href='/stories/random')
          li.
            Random story
          span.search
            input#search(type='search')
            button.btn.btn-default(type='submit') Search
              Search
    block content
