/* https://coolors.co/app/e6eed6-8d6a9f-bbc5aa-00a878-090c02 */
/* lightest, purple, pale, green, darkest */

body {
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
  color: #090c02;
  background-color: #BBc5aa;
  margin: 0px;
  font-size: 14px;
}

#loginheader {
  background-color: #8D6A9F;
  color: #090c02;
  text-align: right;
  margin: 0px;
  padding: 10px;
}

#loginheader p {
  margin: 0px;
  padding: 0px;
}

h1 {
  background-color: #8D6A9F;
  color: #090c02;
  font-family: 'Special Elite', cursive;
  text-align: center;
  font-size: 100px;
  margin: 0px;
  padding-top: 40px;
}

td {
  background-color: #e6eed6;
  padding: 3px;
}

th {
  background-color: #8D6A9F;
  padding: 3px;
}

a {
  color: #00A878;
}

#menubar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #090c02;
  color: #00A878;
  font-size: 18px;
}

#menubar li {
  display: inline-block;
  width: 120px;
  padding: 10px;
  border-right: 2px solid #8D6A9F;
  text-align: center;
  font-weight: bold;
}

#loginheader ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#loginheader li{
  display: inline-block;
  padding: 10px;
  text-align: right;
}

li a {
  text-decoration: none;
}

#loginheader a {
  color: #090c02;
}

.search {
  padding: 10px;
  text-align: right;
  float: right;
  vertical-align: center;
}

#main {
  padding: 25px;
}


